user  nginx;
worker_processes  1;

events {
   worker_connections  1024;
}

http {
include       /etc/nginx/mime.types;
default_type  text/html;


upstream client{
    server frontend:4200;
}

upstream api{
   server backend:80;
}

upstream auth{
    server auth:80 ;
}


server {
    listen 443;
    ssl_certificate    <your cert path>; 
    ssl_certificate_key    <your cert key>;

    location / {
        proxy_pass http://client;
    }


    location ~ ^/api {
        proxy_pass http://api;
    }

    location ~ ^/auth { 

        proxy_pass http://auth;

        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    }

  }

}